footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden; }
  footer .contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc; }

header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  header .textos-header .textos-header h1 {
    font-size: 50px;
    color: black; }
    header .textos-header .textos-header h1 .textos-header h2 {
      font-size: 30px;
      font-weight: 300; }
  header .textos-header .wave {
    position: absolute;
    bottom: 0;
    width: 100%; }

.cards {
  display: flex;
  justify-content: space-evenly; }

.cards .card {
  background-color: #414141;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px; }

.cards .card img {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  display: block; }

.cards .card > .contenido-texto-card {
  width: 60%;
  color: #fff; }

.cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px; }

.about-services {
  background: #414141;
  padding-bottom: 30px; }
  .about-services .servicios-cont {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.servicios-ind {
  width: 28%;
  text-align: center; }
  .servicios-ind .servicios-ind h3 {
    margin: 10px 0; }
  .servicios-ind .servicios-ind p {
    font-weight: 300;
    text-align: justify; }

.servicios-ind img {
  width: 90%; }

.sobre-servicios {
  background: #414141;
  padding-bottom: 30px;
  margin: 0 0 100px 0; }

.serviciosCont {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.serviciosInd {
  width: 28%;
  text-align: center; }

.serviciosInd img {
  width: 90%; }

.serviciosInd h3 {
  margin: 10px 0; }

.serviciosInd p {
  font-weight: 300;
  text-align: justify; }

.footer {
  background: #414141;
  padding: 150px 0 0 0;
  margin: auto;
  overflow: hidden; }

.galeriaPort {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column; }

.product-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa; }

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px; }

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0; }

.product-tumb img {
  max-width: 100%;
  max-height: 100%; }

.product-details {
  padding: 30px; }

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px; }

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s; }

.product-details h4 a:hover {
  color: red; }

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999; }

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px; }

.product-bottom-details div {
  float: left;
  width: 50%; }

.product-price {
  font-size: 18px;
  color: red;
  font-weight: 600; }

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px; }

.product-links {
  text-align: right; }

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px; }

.product-links a:hover {
  color: red; }

.contactos-form form button,
.contactos-form form input,
.contactos-form form textarea {
  width: 100%;
  padding: .7em;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #190eb9; }

.contactos-form form button {
  background: #414141;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contactos-form form button:hover,
.contactos-form form button:focus {
  background: red;
  color: #fff;
  transition: background-color 1s ease-out;
  /*transiciones*/
  outline: 0; }

.contactos-info {
  background-color: #222222; }
  .contactos-info h4 ul p {
    text-align: center;
    margin: 0 0 1rem 0; }

.input-group {
  position: relative !important; }

label {
  display: inline-flex !important;
  column-gap: 10px !important;
  align-items: center !important;
  transition: transform .25s, opacity .25s !important; }
  label:before {
    content: url("/img/mail-line.svg") !important;
    opacity: 0 !important; }

.input-group:focus-within label {
  transform: translateX(26px) !important; }

.input-group:focus-within label::before {
  opacity: 1 !important;
  transition-delay: .1s !important; }

input {
  display: block;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  font: inherit; }

input::placeholder {
  transition: opacity .25s !important; }

input:focus::placeholder {
  opacity: 0 !important; }

.input-group {
  position: relative; }

.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: #fff;
  background-color: transparent;
  outline: 2px solid #fff; }

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transform-origin: left;
  transition: transform .25s; }

.input:focus ~ .input-label,
.input:valid ~ .input-label {
  transform: translate(0, -30px) scale(0.8);
  color: #d1c5fc; }

.input:is(:focus, :valid) {
  outline-color: #d1c5fc; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #414141; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

.titulo {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px; }

header {
  width: 100%;
  height: 600px;
  background: #414141 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414141, #414141 352, 71%, 77%, 0.692);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414141, rgba(238, 155, 166, 0.699)), url(img/) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

nav {
  text-align: right;
  padding: 30px 50px 0 0; }

nav > a {
  color: #fff !important;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px; }
  nav > nav > a:hover {
    text-decoration: underline; }

p {
  color: #fff; }

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly; }
  .contenedor-sobre-nosotros .imagen-about-us, .contenedor-sobre-nosotros .contenido-textos .sobre-nosotros .contenido-textos {
    width: 48%; }
  .contenedor-sobre-nosotros .contenido-textos {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify; }

.contenidos-textos h3 {
  margin-bottom: 15px; }

.contenidos-textos h3 span {
  background: #4d0686;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 3px;
  padding: 2px; }

.portafolio {
  background: #414141; }
  .portafolio .galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .portafolio .galeria-port .imagen-port {
      width: 24%;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
      height: 150px; }

.imagen-port > img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%; }

.hover-galeria {
  position: absolute;
  top: 0;
  transform: scale(0);
  background: rgba(75, 6, 132, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .hover-galeria .hover-galeria p {
    color: #fff; }

.hover-galeria img {
  width: 50px; }

.imagen-port:hover .hover-galeria {
  transform: scale(1); }

.content-foo {
  text-align: center; }
  .content-foo .content-foo h4 {
    color: #fff;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px; }
    .content-foo .content-foo h4 .content-foo p {
      color: #fff; }

@media screen and (max-width: 900px) {
  header {
    background-position: center; }
  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .sobre-nosotros .contenidos-textos {
    width: 90%; }
  .imagen-about-us, .contenedor-sobre-nosotros .contenido-textos .sobre-nosotros .contenido-textos {
    width: 90%; }
  .imagen-port {
    width: 40%; }
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cards .card {
    width: 90%; }
  .cards .card:first-child {
    margin-bottom: 30px; }
  .servicio-cont {
    justify-content: center;
    flex-direction: column; }
  .servicio-ind {
    width: 100%;
    text-align: center; }
  .servicio-ind img {
    width: 90%; } }

@media screen and (max-width: 500px) {
  nav {
    text-align: center;
    padding: 30px 0 0; }
  nav > a {
    margin-right: 5px; }
  .textos-header h1 {
    font-size: 35px; }
  .textos-header h2 {
    font-size: 20px; } }

* {
  box-sizing: border-box; }

#encabezado {
  width: 100%;
  height: 10px;
  background: #414141 !important;
  display: inline-block; }

#encabezado nav {
  text-align: right;
  padding: 30px 20px 0 0; }
  #encabezado nav a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px; }

#cuerpo {
  background: #414141;
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

ul {
  list-style: none;
  padding: 0;
  color: white; }

.titulo2 {
  text-align: center;
  font-size: 3em; }

.contactos-wrap {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contactos-form {
  background: #222222; }
  .contactos-form form label {
    display: block; }
  .contactos-form p {
    margin: 0;
    padding: 1em; }
  .contactos-form form .block {
    grid-column: 1 / 3; }

@media (min-width: 900px) {
  .encabezado {
    text-align: right;
    padding: 100px 0 0 10px; }
  nav > a {
    margin-right: 5px; }
  .contactos-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contactos-wrap > * {
    padding: 2em; }
  .contactos-info h4,
  .contactos-info ul,
  .contactos-info p {
    text-align: left; } }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem; } }

.bi {
  vertical-align: -.125em;
  fill: currentColor; }

.portfolio {
  background: #414141; }

.titulo3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 30px 0 0 60px; }
